<form (ngSubmit)="signIn()" [formGroup]="signInForm">
  <ion-list>
    <ion-item>
      <ion-input type="text" placeholder="Your name" formControlName="name"></ion-input>
    </ion-item>
    <ion-item *ngIf="(name.dirty || name.touched) && name.errors" class="errors">
      <span *ngIf="name.errors?.required">Name is required</span>
    </ion-item>
    <ion-item>
      <ion-input type="email" placeholder="Email" formControlName="email" autocomplete="off"></ion-input>
    </ion-item>
    <ion-item *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
      <span *ngIf="email.errors?.required">Email is required</span>
      <span *ngIf="email.errors?.email">Email is invalid</span>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Password" formControlName="password" autocomplete="off"></ion-input>
    </ion-item>
    <ion-item *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
      <span *ngIf="password.errors?.required">Password is required</span>
      <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
    </ion-item>
    <ion-item>
      <ion-input
        type="password"
        placeholder="Repeat assword"
        formControlName="passwordRepeat"
        autocomplete="off"
      ></ion-input>
    </ion-item>
    <ion-item *ngIf="(passwordRepeat.dirty || passwordRepeat.touched) && password.errors" class="errors">
      <span *ngIf="passwordRepeat.errors?.required">Password is required</span>
      <span *ngIf="passwordRepeat.errors?.minlength">Password needs to be 6 characters</span>
      <span *ngIf="signInForm.hasError('fieldsNotEqual')">Passwords must be equal!</span>
    </ion-item>
  </ion-list>
  <ion-button type="submit" expand="block" [disabled]="!signInForm.valid">Sign in new user</ion-button>
</form>
